* {
    background-color: black;
}

.card {
    border: 3px solid white;
    padding: 1em;
    height: 12em;
    width: 20em;
    margin-bottom: 1em;
    border-radius: 15px; /* Added for rounded borders */
    color: white; /* Added to make all text inside the card white */
}

.productcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#text {
    font-weight: bold;
    color: white;
    padding-left: 0;
}

.add-to-cart {
    background-color: dimgrey;
    border-radius: 20px;
    height: 2em;
    width: 8em;
    color: white;
    font-weight: bold;
}

.add-to-cart:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

#btn {
    background-color: transparent;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

#btn:hover {
    background-color: darkblue;
    color: white;
}
