/* .App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  margin: 0;
  box-sizing: border-box;
  padding: 2em;
}

header{
  margin-top: 0em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:teal;
}
nav{
  width: 30%;
}
.navbar{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav-item a{
  text-decoration: none;
  color: rgb(189, 156, 156);
}
.nav-item a::after{
  content: "";
  height: 5px;
  width: 0%;
  display: block;
  background: black;
}
.nav-item a:hover::after{
  width: 100%;
  transition: width 0.4s linear;
}
